body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
  }
 
  /* скидання */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
   
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
  /* загальні */
  .main-container{
    display: block;
    flex-direction: column;
    width: 1158px;
    margin-bottom: 0;
    /* min-height: 100vh; */
  }
    .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;
    }
  /* хедер */
  .header {
    border-bottom: 1px solid #e7e9fc;
  }
  .header-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}
.header-nav{
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
}
.header-highlight {
  color: #2e2f42;
}
.header-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.active-link:hover,
.active-link:focus {
  color: #404bbf;
}
.address {
  display: flex;
  align-items: center;
  font-style: normal;
  margin-left: auto;
  
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}
.hero-container{
  display: block;
  padding: 188px 0;
}
.hero-title {
  display: block;
 
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  margin-bottom: 48px;
 margin-right: auto;
 margin-left: auto;
 
}
.button-order {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0;
    min-width: 169px;
    height: 56px;
    /* margin-bottom: 188px; */
    margin-right: auto;
   margin-left: auto;
   text-align: center;
   justify-content: center;

}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}
.about {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-list {
}
.about-item {
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background: #f4f4fd;
}
.team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
  background: #fff;
}
.team-img {
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio {
}
.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-item {
  background: #fff;
}
.portfolio-img {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* \футер*/
.footer {
  background: #2e2f42;
}
.footer-link-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-highlight {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
